COMPOSE_PROJECT_NAME=symfony_lesson

#user ids could retrieved by the command `id $USER`
PUID=1000
PGID=1000

#nginx
NGINX_HOST_PORT=888

# php-fpm
PHP_CONTAINER_NAME=php-fpm8

#xdebug
INSTALL_XDEBUG=false